.home-component {
	background: url("../images/mars-planet.jpg") center/cover;
	color: gainboro;
	height: 100vh;
	display: flex;
	flex-direction: column;
	div {
		display: flex;
		align-self: center;
		align-items: center;
		height: 33.33%;
	}
	a {
		display: block;
	    width: 75px;
	    height: 75px;
	    background: rgba(237,237,237,.2);
	    opacity: .3;
	    border-radius: 50%;
	    -webkit-animation: border-pulse 2s infinite;
	    -moz-animation: border-pulse 2s infinite;
	    -ms-animation: border-pulse 2s infinite;
	    -o-animation: border-pulse 2s infinite;
	    animation: border-pulse 2s infinite;
	}
}

@-webkit-keyframes border-pulse {
		0% {
	    box-shadow: 0 0 0 1rem rgba(255,255,255,.1),0 0 0 2rem rgba(255,255,255,.15),0 0 0 3rem rgba(255,255,255,.2);
	}
		50% {
	    box-shadow: 0 0 0 1.25rem rgba(255,255,255,.1),0 0 0 2.75rem rgba(255,255,255,.1),0 0 0 4rem rgba(255,255,255,0);
	}
		75% {
	    box-shadow: 0 0 0 1.5rem rgba(255,255,255,.1),0 0 0 3rem rgba(255,255,255,0),0 0 0 5rem rgba(255,255,255,0);
	}  
		100% {
	    box-shadow: 0 0 0 1.75rem rgba(255,255,255,0),0 0 0 3.75rem rgba(255,255,255,0),0 0 0 6rem rgba(255,255,255,0);
	}
}
@-moz-keyframes border-pulse {
		0% {
	    box-shadow: 0 0 0 1rem rgba(255,255,255,.1),0 0 0 2rem rgba(255,255,255,.15),0 0 0 3rem rgba(255,255,255,.2);
	}
		50% {
	    box-shadow: 0 0 0 1.25rem rgba(255,255,255,.1),0 0 0 2.75rem rgba(255,255,255,.1),0 0 0 4rem rgba(255,255,255,0);
	}
		75% {
	    box-shadow: 0 0 0 1.5rem rgba(255,255,255,.1),0 0 0 3rem rgba(255,255,255,0),0 0 0 5rem rgba(255,255,255,0);
	}  
		100% {
	    box-shadow: 0 0 0 1.75rem rgba(255,255,255,0),0 0 0 3.75rem rgba(255,255,255,0),0 0 0 6rem rgba(255,255,255,0);
	}
}
@-ms-keyframes border-pulse {
		0% {
	    box-shadow: 0 0 0 1rem rgba(255,255,255,.1),0 0 0 2rem rgba(255,255,255,.15),0 0 0 3rem rgba(255,255,255,.2);
	}
		50% {
	    box-shadow: 0 0 0 1.25rem rgba(255,255,255,.1),0 0 0 2.75rem rgba(255,255,255,.1),0 0 0 4rem rgba(255,255,255,0);
	}
		75% {
	    box-shadow: 0 0 0 1.5rem rgba(255,255,255,.1),0 0 0 3rem rgba(255,255,255,0),0 0 0 5rem rgba(255,255,255,0);
	} 
		100% {
	    box-shadow: 0 0 0 1.75rem rgba(255,255,255,0),0 0 0 3.75rem rgba(255,255,255,0),0 0 0 6rem rgba(255,255,255,0);
	}
}
@-o-keyframes border-pulse {
		0% {
	    box-shadow: 0 0 0 1rem rgba(255,255,255,.1),0 0 0 2rem rgba(255,255,255,.15),0 0 0 3rem rgba(255,255,255,.2);
	}
		50% {
	    box-shadow: 0 0 0 1.25rem rgba(255,255,255,.1),0 0 0 2.75rem rgba(255,255,255,.1),0 0 0 4rem rgba(255,255,255,0);
	}
		75% {
	    box-shadow: 0 0 0 1.5rem rgba(255,255,255,.1),0 0 0 3rem rgba(255,255,255,0),0 0 0 5rem rgba(255,255,255,0);
	} 
		100% {
	    box-shadow: 0 0 0 1.75rem rgba(255,255,255,0),0 0 0 3.75rem rgba(255,255,255,0),0 0 0 6rem rgba(255,255,255,0);
	}
}
@keyframes border-pulse {
		0% {
	    box-shadow: 0 0 0 1rem rgba(255,255,255,.1),0 0 0 2rem rgba(255,255,255,.15),0 0 0 3rem rgba(255,255,255,.2);
	}
		50% {
	    box-shadow: 0 0 0 1.25rem rgba(255,255,255,.1),0 0 0 2.75rem rgba(255,255,255,.1),0 0 0 4rem rgba(255,255,255,0);
	}
		75% {
	    box-shadow: 0 0 0 1.5rem rgba(255,255,255,.1),0 0 0 3rem rgba(255,255,255,0),0 0 0 5rem rgba(255,255,255,0);
	} 
		100% {
	    box-shadow: 0 0 0 1.75rem rgba(255,255,255,0),0 0 0 3.75rem rgba(255,255,255,0),0 0 0 6rem rgba(255,255,255,0);
	}
}


