a {
	text-decoration: none;
}

label {
	display: none;
}

.header {
	top: 0px;
}

.header,
.footer {
	background-color: white;
	height: 18vh;
	position: fixed;
	align-self: center;
	text-align: center;
	width: 100%;
}

.footer {
	background-color: black;
	bottom: 0px;
	display: flex;
	justify-content: center;
	a {
		color: white;
		align-self: center;
		font-size: 1rem;
	}
}

