.register-component {
	background: url("../images/register.jpeg") center/contain no-repeat;
	background-color: black;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

.home-component {
	color: black;
}

a, 
h1,
fieldset {
	display: flex;
	align-self: center;
	align-items: center;
	height: 33.33%;
}

.12 {
	display: none;
}
