.report-page {
	margin-top: 30px;
	text-align: center;
	.header{
		background-color: black;
		color: white;
	} 
}

.report-heading {
	// margin: 0;

}

textarea {
	border: none;
	height: 180px;
	width: 98%;
}
